.pokemon-container {
    width: 180px;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 3px;
    border: 1px solid black;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    

    &:hover{
        cursor: pointer;
        filter: brightness(90%);
    }

    .id-container{
        width: 40%;
        
    }

    .pokemon-id {
        width: 100%;
        background-color: #ffcc01;
        border: 1px solid black;
        border-radius: 10px;
    }
}