.pokemon-container {
    width: 180px;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 3px;
    padding: 1rem;
    margin: .5rem;
    border-width: .25rem;
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );

    &:hover{
        transform: scale(1.1);
    }
}