@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --grass: 95, 189, 88;
    --bug: 146, 188, 44;
    --dark: 89, 87, 97;
    --dragon: 12, 105, 200;
    --electric: 242, 217, 78;
    --fairy: 238, 144, 230;
    --fighting: 211, 66, 95;
    --fire: 220, 135, 47;
    --flying: 161, 187, 236;
    --ghost: 95, 109, 188;
    --ground: 218, 124, 77;
    --ice: 117, 208, 193;
    --normal: 160, 162, 159;
    --poison: 183, 99, 207;
    --psychic: 255, 44, 168;
    --rock: 163, 140, 33;
    --steel: 86, 149, 163;
    --water: 83, 157, 223;
}

.pokemon-container {
    width: 180px;
    height: auto;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid black;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);



    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }

    .pokemon-name {
        text-transform: capitalize;
        font-family: 'VT323', monospace;
        font-size: 2em;
        font-weight: 500;
    }

    .pokemon-types {
        font-family: 'VT323', monospace;
        font-size: 1.4em;
        font-weight: 100;
        // color: whitesmoke;

    }

    

    .id-container {
        width: 90%;

    }

    .pokemon-id {
        width: 100%;
        color: white;
        text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;

        font-family: 'Press Start 2P', sans-serif;
        font-size: 1.3em;
        border-radius: 10px;
    }
}

.pokemon-types-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


    & .pokemon-type-one,
    & .pokemon-type-two{
        width:20px;
        height:20px;
        border-radius: 100px;
        padding: 5px;
        
    }

}

