@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@mixin screen-max($max) {
    @media (max-width: $max) {
        @content
    }
}

;

:root {
    --grass: 95, 189, 88;
    --bug: 146, 188, 44;
    --dark: 89, 87, 97;
    --dragon: 12, 105, 200;
    --electric: 242, 217, 78;
    --fairy: 238, 144, 230;
    --fighting: 211, 66, 95;
    --fire: 220, 135, 47;
    --flying: 161, 187, 236;
    --ghost: 95, 109, 188;
    --ground: 218, 124, 77;
    --ice: 117, 208, 193;
    --normal: 160, 162, 159;
    --poison: 183, 99, 207;
    --psychic: 255, 44, 168;
    --rock: 163, 140, 33;
    --steel: 86, 149, 163;
    --water: 83, 157, 223;
}

.info-panel-parent-container {
    width: 100vw;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1em;

    .aside-panel {
        display: flex;
        width: 55vw;
        height: auto;
        margin: 0 auto;
        max-height: 80vh;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;

        @include screen-max(1130px) {
            align-items: flex-start;
            flex-wrap: wrap;

        }


        .picture-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 20%;

            .aside-pokemon-img {
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                height: 200px;
                width: 100%;
                min-width: 150px;
                max-width: 200px;
            }
        }

        & .first-info-container,
        & .second-info-container {
            display: flex;
            flex-direction: column;

            @include screen-max(1130px) {
                width: 80%;
                flex-direction: row;
            }
        }

        .first-info-container {
            width: 25%;
            background: rgba($color: white, $alpha: 0.3);
            border-radius: 1em;
            padding: 20px;
            margin: 2.5em;
            align-items: center;

            @include screen-max(1130px) {
                width: 100%;
                justify-content: center;
                flex-direction: column;
          
            }

            .misc-info{   
                width: 100%;
                @include screen-max(1130px) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    gap: 1em;
                }
            }

            p {
                font-family: 'VT323', monospace;
                font-size: 1.2em;
                text-align: center;
                margin: 0.3em;
                font-weight: bold;
            }

            .info-div {
                font-family: 'VT323', monospace;
                font-size: 1.2em;
                font-weight: lighter;
                display: flex;
                justify-content: center;
            }


            .aside-pokemon-name {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0;
                font-size: 1.2em;
                font-family: 'Press Start 2P', sans-serif;
                -webkit-text-stroke-width: 0px;
                -webkit-text-stroke-color: white;
                color: black;
                text-shadow:
                    1px 1px 0 white,
                    1px 1px 0 white,
                    1px -1px 0 white,
                    -1px 1px 0 white,
                    1px 1px 0 white;

            }

            .aside-pokemon-id {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                color: white;
                text-shadow:
                    2px 2px 0 #000,
                    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000
            }
        }

    }

    .second-info-container {
        height: 100%;
        justify-content: center;


        @include screen-max(1130px) {
            width: 100%;
            flex-wrap: nowrap;
            flex-direction: row;
        }


        .info-div {
            background: rgba($color: white, $alpha: 0.3);
            border-radius: 0.5em;
            padding: 10px;

            font-size: 1.2em;
            font-family: 'VT323', monospace;
        }

        .info-section {
            padding: 15px;

            @include screen-max(1130px) {
                width: 35%;

            }
        }

        & .aside-pokemon-about,
        & .aside-pokemon-abilities {
            text-align: justify;
        }

        .aside-pokemon-stats {
            width: 46%;
        }

        p {
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
            color: white;
            text-shadow:
                2px 2px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000
        }


    }

}



.close-button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: auto;

    .close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: smaller;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin-right: 10px;
        margin-top: 15px;
        background: rgba($color: #000000, $alpha: 0.8);
        border-radius: 100px;
        user-select: none;

        &:hover {
            cursor: pointer;
            filter: brightness(50%);
        }

        @include screen-max(1130px) {}
    }

}